<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Books management - Update Book</title>
</head>
<body>
    <header>
        <h1>Form to update Book - Admin</h1>
        <nav>
            <a th:href="@{/management-book}" style="color: rgb(96, 9, 9);">Books Management - Admin</a>
            <a th:href="@{/form-add-book}" style="color: rgb(96, 9, 9);">Form to add Book - Admin</a>
            <a th:href="@{/form-google-api}">Search Book - Google Books API</a>
            <a th:href="@{/profil}">My Profile</a>
            <a th:href="@{/login}">Log in</a>
            <a th:href="@{/sing-up}">Sing up</a>
        </nav>
    </header>

    <main>
        <div class="container mt-5">
        <h2>Update book</h2>
        <form th:action="@{/form-update-book/{id}(id=${book.id})}" th:object="${book}" method="post">
            <div class="form-group">
                <label for="name">Title:</label>
                <input th:field="*{title}" type="text" class="form-control" id="name" name="name" placeholder="Enter a book title" required>
            </div>
            <div class="form-group">
                <label for="publisher">Publisher:</label>
                <input th:field="*{publisher}" type="text" class="form-control" id="publisher" name="publisher" placeholder="Enter a publisher" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input th:field="*{author}" type="text" class="form-control" id="author" name="author" placeholder="Enter author" required>
            </div>
            <div class="form-group">
                <label for="kind">Kind:</label>
                <input th:field="*{kind}" type="text" class="form-control" id="kind" name="kind" placeholder="Enter kind" required>
            </div>
            <div class="form-group">
                <label for="releaseDate">Release date:</label>
                <input th:field="*{releaseDate}" type="date" class="form-control" id="releaseDate" name="releaseDate" required>
            </div>
            <div class="form-group">
                <label for="isbn">ISBN:</label>
                <input th:field="*{isbn}" type="number" class="form-control" id="isbn" name="isbn" placeholder="Enter number ISBN" required>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input th:field="*{amount}" type="number" class="form-control" id="amount" name="isbn" placeholder="Enter the number of books" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Update Book</button>
        </form>
        </div>
    </main>

    <footer>
        <p>Miłosz Szymczak</p>
    </footer>
</body>
</html>
