<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <title>Books Management - Admin</title>
</head>
<body>
    <header>
        <h1>Books Management - Admin</h1>
        <nav>
          <a href="management.html" style="color: rgb(96, 9, 9);">Books Management - Admin</a>
          <a href="addBook.html" style="color: rgb(96, 9, 9);">Form to add Book - Admin</a>
          <a href="/">Shop</a>
          <a href="/login">Log in</a>
          <a href="/singup">Sing up</a>
        </nav>
    </header>

    <main>
        <div class="product">
            <table>
                <tr>
                    <td><img src="img/cleancode.jpg"></td>
                    <td><h2>Clean Code</h2>
                    <p>Treść sekcji 1...</p>
                    </td>
                </tr>
             </table>
        </div>
        <div class="product">
            <table>
                <tr>
                    <td><img src="img/cleancode.jpg"></td>
                    <td><h2>Clean Code</h2>
                    <p>Treść sekcji 1...</p>
                    </td>
                </tr>
             </table>
        </div>

    </main>

    <footer>
        <p>Miłosz Szymczak</p>
    </footer>
</body>
</html>
