<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <title>Books management - Add Book</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                    <i><a class="nav-link" th:href="@{/management-check-book-admin}"
                          style="font-weight: bold ; !important;">Books to check - Admin</a></i>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                    <i> <a class="nav-link" th:href="@{/management-book-admin}"
                           style="font-weight: bold; !important;">Management Books - Admin</a></i>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/added-books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/form-google-api}">Search Book - Google Books API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/form-add-book}">Add Book</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" th:href="@{/profile}">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/log-out}">Log out</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="container mt-5">
        <h2>Add new book</h2>
        <form th:action="@{/form-add-book}" th:object="${book}" method="post">
            <img th:src="${book.imageLink}">
            <div class="form-group">
                <label for="name">Image Link:</label>
                <input th:field="*{imageLink}" type="text" class="form-control" id="imageLink" name="imageLink" placeholder="Enter image link">
            </div>
            <div class="form-group">
                <label for="name">Title:</label>
                <input th:field="*{title}" type="text" class="form-control" id="name" name="name"
                       placeholder="Enter a book title" required>
            </div>
            <div class="form-group">
                <label for="publisher">Publisher:</label>
                <input th:field="*{publisher}" type="text" class="form-control" id="publisher" name="publisher"
                       placeholder="Enter a publisher" required>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input th:field="*{author}" type="text" class="form-control" id="author" name="author"
                       placeholder="Enter author">
            </div>
            <div class="form-group">
                <label for="kind">Kind:</label>
                <input th:field="*{kind}" type="text" class="form-control" id="kind" name="kind"
                       placeholder="Enter kind" required>
            </div>
            <div class="form-group">
                <label for="releaseDate">Release date:</label>
                <input th:field="*{releaseDate}" type="date" class="form-control" id="releaseDate" name="releaseDate">
            </div>
            <div class="form-group">
                <label for="isbn">ISBN:</label>
                <input th:field="*{isbn}" type="number" class="form-control" id="isbn" name="isbn"
                       placeholder="Enter number ISBN">
            </div>
            <div class="form-group">
                <label for="isbn">Language:</label>
                <input th:field="*{language}" type="text" class="form-control" id="language" name="language"
                       placeholder="Enter language of the book" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
    </div>
</main>

<footer>
    <p>Miłosz Szymczak</p>
</footer>
</body>
</html>
