<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <title>Search Book - Google Books API</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                    <i><a class="nav-link" th:href="@{/management-check-book-admin}"
                          style="font-weight: bold ; !important;">Books to check - Admin</a></i>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item active">
                    <i> <a class="nav-link" th:href="@{/management-book-admin}"
                           style="font-weight: bold; !important;">Management Books - Admin</a></i>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/added-books}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/form-google-api}">Search Book - Google Books API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/form-add-book}">Add Book</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" th:href="@{/profile}">My Profile</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/log-out}">Log out</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="container">
        <form th:action="@{/form-search-book/}" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter a book title" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Search Book</button>
        </form>
    </div>

</main>

<footer>
    <p>Miłosz Szymczak</p>
</footer>
</body>
</html>
